<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tf.ecps.mapper.EbAreaMapper" >
  <resultMap id="BaseResultMap" type="cn.tf.ecps.po.EbArea" >
    
    <id column="AREA_ID" property="areaId" jdbcType="DECIMAL" />
    <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="AREA_LEVEL" property="areaLevel" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
 
    AREA_ID, PARENT_ID, AREA_NAME, AREA_LEVEL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    
    select 
    <include refid="Base_Column_List" />
    from EB_AREA
    where AREA_ID = #{areaId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
   
    delete from EB_AREA
    where AREA_ID = #{areaId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.tf.ecps.po.EbArea" >
   
    insert into EB_AREA (AREA_ID, PARENT_ID, AREA_NAME, 
      AREA_LEVEL)
    values (#{areaId,jdbcType=DECIMAL}, #{parentId,jdbcType=DECIMAL}, #{areaName,jdbcType=VARCHAR}, 
      #{areaLevel,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.tf.ecps.po.EbArea" >
 
    insert into EB_AREA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="areaName != null" >
        AREA_NAME,
      </if>
      <if test="areaLevel != null" >
        AREA_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        #{areaId,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null" >
        #{areaLevel,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tf.ecps.po.EbArea" >

    update EB_AREA
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="areaName != null" >
        AREA_NAME = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaLevel != null" >
        AREA_LEVEL = #{areaLevel,jdbcType=DECIMAL},
      </if>
    </set>
    where AREA_ID = #{areaId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tf.ecps.po.EbArea" >
 
    update EB_AREA
    set PARENT_ID = #{parentId,jdbcType=DECIMAL},
      AREA_NAME = #{areaName,jdbcType=VARCHAR},
      AREA_LEVEL = #{areaLevel,jdbcType=DECIMAL}
    where AREA_ID = #{areaId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectAreaByParentId" parameterType="long" resultMap="BaseResultMap">
  	select * from eb_area t where t.parent_id = #{areaId}
  </select>
</mapper>